*{
  margin: 0;
  padding: 0;
  vertical-align: bottom;
  list-style: none;
}

[v-cloak]{
  display:none;
}

button{
  cursor: pointer;
}

/* ここまで全体 */


/* header */



.site-title{
  padding: 1rem;
}

.global-nav-list{
  display: flex;
}

.global-nav-list button{
  padding: 1rem;
  border-radius: 1rem;
}

@media screen and (min-width:767px) { /*PC設定*/
  .header{
    display: flex;
  }
}

/* footer */

.footer{
  padding: 2rem;
  padding-top: 1.2rem;
  background-color: gainsboro;
  text-align: center;
}
