*{
  margin: 0;
  padding: 0;
  vertical-align: bottom;
  list-style: none;
}

[v-cloak]{
  display:none;
}

button{
  cursor: pointer;
}

.header{
  display: flex;
}

.site-title{
  padding: 1rem;
}

.global-nav-list{
  display: flex;
}

.footer{
  padding: 2rem;
  padding-top: 1.2rem;
  background-color: gainsboro;
  text-align: center;
}
